/* styles/searchbar.module.css */
.searchBarContainer {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
