:root {
    --background: #ffffff;
    --foreground: #171717;
}
@font-face {
    font-family: "LOTTERIADDAG";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* HTML 전체에 기본 폰트 적용 */
html,
body {
    font-family: "LOTTERIADDAG", Arial, sans-serif; /* LOTTERIADDAG를 기본으로 설정 */
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
/* 버튼 초기 스타일 제거 */
button {
    all: unset; /* 기본 스타일 초기화 */
    cursor: pointer; /* 클릭 가능한 버튼으로 설정 */
}
/* @font-face 정의 */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
